[submodule "third_party/asm-differ"]
	path = third_party/asm-differ
	url = https://github.com/raulcorreia7/asm-differ.git
[submodule "third_party/decomp-permuter"]
	path = third_party/decomp-permuter
	url = https://github.com/raulcorreia7/decomp-permuter.git
[submodule "third_party/m2c"]
	path = third_party/m2c
	url = https://github.com/raulcorreia7/m2c.git
[submodule "third_party/maspsx"]
	path = third_party/maspsx
	url = https://github.com/raulcorreia7/maspsx.git
[submodule "third_party/references/bof3-data-doc"]
	path = third_party/references/bof3-data-doc
	url = https://github.com/GlitchedDragon-dev/BoF3-Data-Doc.git
[submodule "third_party/references/vast-violence"]
	path = third_party/references/vast-violence
	url = https://github.com/abyssonym/vast_violence.git
[submodule "toolchains/psx_psyq_signatures"]
	path = toolchains/psx_psyq_signatures
	url = https://github.com/lab313ru/psx_psyq_signatures.git
[submodule "third_party/rizin"]
	path = third_party/rizin
	url = https://github.com/rizinorg/rizin.git
[submodule "third_party/splat"]
	path = third_party/splat
	url = https://github.com/ethteck/splat.git
[submodule "third_party/spimdisasm"]
	path = third_party/spimdisasm
	url = https://github.com/Decompollaborate/spimdisasm.git
